body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

.page-content {
  /*width: 90%;*/
  padding: 20px;
  margin-top: 25px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  border: solid 3px #47a3da;
}

.header {
  padding: 10px 0px 10px 10px;
  border-bottom: solid 3px #47a3da;
  text-align: right;
}

i {
  color: #47a3da;
  margin: 4px;
}

.clicked {
  color: #47a3da;
}

.unclicked {
  color: #c0c0c0;
}

.all-items-sale {
  /*border: solid 1px black;*/
  width: 1106px;
}

.item-preview {
  color: #c0c0c0;
  text-align: center;
  margin: 20px 0px;
}

.item-content {
  width: 28%;
  height: 400px;
  padding: 25px;
  margin-top: 20px;
  /*border: solid 1px black;*/
  display: inline-block;
  text-align: center;
  position: relative;
}

h3 {
  text-align: center;
  font-size: 2.25em;
  color: #47a3da;
}

.item-price {
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 1.25em;
  color: #c0c0c0;
}

.item-description {
  color: #47a3da;
  /*border: solid 1px black;*/
  display: inline-block;
  height: 20%;
  margin: 20px;
}

.cart-button {
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  text-align: center;
  background-color: #47a3da;
  border-radius: 2px;
  display: inline-block;
}

.cart-button:hover {
  transition: background 0.3s;
  /*this transition delay is used to soften the hover button styling change. Less harsh transition.*/
  background-color: #13425e;
}

.cart-plus {
  color: white;
  margin-right: 5px;
}
